.container {
  width: 97%;
  margin: auto;
  margin-top: 60px;
}

.imgContainer {
  width: 100%;
  height: 300px;
  position: relative;
}

.img {
  object-fit: cover;
  display: flex;
  justify-content: flex-start;

  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  width: 100%;
  height: 93%;

  /* filter: grayscale(100%); */
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item {
  flex: 1;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 20px;
}
.title {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.btnco {
  display: grid;
  place-content: center;
  margin: 20px;
}
.imagecon {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .container {
    width: 1200px;
    margin: auto;
  }
  .imgContainer {
    width: 45%;
    height: 200px;
    position: relative;
  }
  .imgText {
    position: absolute;
    bottom: 10px;
    left: 2px;
    /* background-color: #53c28b; */
    background-color: whitesmoke;
    padding: 7px;
    color: brown;
    width: 480px;
    bottom: 0;
  }
  .imgTitle {
    font-size: 25px;
    margin-bottom: 7px;
  }
  .imgDesc {
    font-size: 17px;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 32%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 15px;
  }
  .item {
    flex: 1;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .title {
    text-align: center;
    margin-bottom: 10px;
    font-size: large;
    color: black;
  }
  .desc {
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 20px;
  }
}
