.container {
  width: 90%;

  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container p {
  text-align: center;
  font-size: 23px;
}

.title {
  font-size: 60px;
  margin-bottom: 70px;
  text-align: center;
  margin-top: 100px;
}

.content {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 20px;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}

.image {
  object-fit: contain;
  /* animation: move 3s infinite ease alternate; */
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 700px;
}

.input,
.textArea {
  padding: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fd9a01;
  border: 2px solid #fd9a01;
  font-size: 20px;
  font-weight: bold;
  width: 80%;
}
.btnco {
  margin: 20px;
  margin-top: 5px;
}
@media (max-width: 600px) {
  .container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container p {
    text-align: center;
    font-size: 18px;
  }

  .title {
    font-size: 40px;
    margin-bottom: 80px;
    text-align: center;
    margin-top: 100px;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 20px;
  }

  .imgContainer {
    flex: 1;
    height: 500px;
    position: relative;
  }

  .image {
    object-fit: contain;
    /* animation: move 3s infinite ease alternate; */
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .input,
  .textArea {
    padding: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fd9a01;
    border: 2px solid #fd9a01;
    font-size: 20px;
    font-weight: bold;
    width: 80%;
  }
  .btnco {
    margin: 20px;
    margin-top: 5px;
  }
}
