.container {
  gap: 20px;
  max-width: 98%;
  margin: auto;
}

.item {
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  align-items: flex-start;
  justify-content: flex-start;
  /* text-align: justify; */
}
.subcontainer {
  display: flex;
  justify-content: space-between;
  background-image: url("/thome.png");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  margin-top: 55px;
  /* width: 1830px; */
  width: 98%;
  margin: auto;
  margin-top: 58px;

  /* display: grid;
  place-content: center; */
  /* animation: move 3s infinite ease alternate; */
  height: 600px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.title {
  font-size: 70px;
  /* background-color: black; */
  color: white;

  /* text-align: justify; */
  margin-top: 130px;
  font-family: "Montserrat", "Roboto";
}
.desc {
  font-size: 35px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: "Montserrat", "Roboto";
}
.paraph {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 50px;
  margin-top: 10px;
  letter-spacing: normal;
  font-family: "Montserrat", "Roboto";
}
.sec1,
.programsco,
.programsco1 {
  height: 400px;
  width: 98%;
  margin: auto;
  background-image: url("/niber-bgg.png");
  background-size: cover;
  background-position: center;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}
.programsco {
  background-color: #fd6e01;
  width: 98%;
}
.programsco1 {
  background-color: #fd6e01;
  width: 98%;
}
.paragra {
  display: block;
  max-width: 80%;
  font-family: "Montserrat", "Roboto";
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 35px;
  line-height: 50px;
}

.dashb {
  background-color: #fd9a01;
  width: 50px;
  height: 10px;
  margin: 30px;
}
.sec2 {
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 20px;
}
.sec2 h1 {
  font-size: 60px;
}
.sec2 h5 {
  font-size: 25px;
}
.para {
  display: block;
  max-width: 80%;
  font-family: "Montserrat", "Roboto";
  font-size: 25px;
  line-height: 45px;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
}
.h2 {
  margin-bottom: 30px;
  font-size: 40px;
  color: black;
}
.sec3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 98%;
}
.impacon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.moimpaco {
  background-color: #fd9a01;
  font-size: 70px;
  padding: 50px;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-bottom: 20px;
}
.dosign {
  color: white;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", "Roboto";
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5em;
}
.descrip {
  width: 330px;
  text-align: center;
  margin: 10px;
}
.descrip {
  font-size: 20px;
  font-family: "Montserrat", "Roboto";
}
.programainco {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin: auto;
}
.prosubco,
.prosubco1,
.prosubco2,
.prosubco3,
.prosubco4,
.prosubco5 {
  display: grid;
  place-content: center;
  background-size: cover;
  line-height: 25px;
  background-position: center;
  flex: 1;
  color: white;
  text-align: center;
  width: 98%;
  height: 400px;
  opacity: 0.8;
  transition: opacity 0.5s;
}
.prosubco {
  background-image: url("/farm11.png");
}
.prosubco1 {
  background-image: url("/rural.png");
}
.prosubco2 {
  background-image: url("/water.png");
}
.prosubco3 {
  background-image: url("/shool.png");
}
.prosubco4 {
  background-image: url("/emer.png");
}
.prosubco5 {
  background-image: url("/consum.png");
}
.proconco {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
  height: 400px;
  line-height: 30px;
}
.prosubco:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.prosubco1:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.prosubco2:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}

.prosubco3:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.prosubco4:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.prosubco5:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.proconco h3 {
  color: #fd9a01;
  font-weight: 400;
  text-transform: none;
  line-height: 1.3em;
  letter-spacing: 0px;
  font-family: "Montserrat", "Roboto";
  font-size: 36px;
  margin-bottom: 40px;
  margin-left: 30px;
}
.proconco p {
  padding-bottom: 20px;
  font-family: "Montserrat", "Roboto";
  font-weight: 400;
  font-size: 21px;
  letter-spacing: normal;
  max-width: 80%;
  margin-left: 30px;
}
.button {
  padding: 10px;
  border: 3px solid #fd9a01;
  color: #fd9a01;
  background-color: transparent;
  font-size: medium;
  font-weight: bold;
  margin-left: 30px;
}

@media (max-width: 600px) {
  .container {
    max-width: 95%;
    margin: auto;
  }

  .subcontainer {
    display: flex;
    justify-content: flex-start;
    background-image: url("/thome.png");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    width: 100%;
    height: 350px;
  }

  .item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10%;
  }
  .title {
    font-size: 30px;
    /* text-align: justify; */
    margin-top: 170px;
  }
  .desc {
    display: none;
  }
  .paraph {
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .sec1,
  .programsco,
  .programsco1 {
    height: 450px;

    /* max-width: 590px; */
    /* background-color: brown; */
    width: 100%;

    display: flex;
    /* align-items: flex-start; */
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  .paragra {
    font-weight: 300;
    font-size: 23px;
    line-height: 32px;
    margin-top: 30px;
    text-align: center;
    padding: 0px;

    /* padding-right: 180px; */
    /* max-width: 100%; */
  }
  .dash {
    display: none;
  }
  .sec2 {
    /* max-width: 590px; */
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .sec2 h1 {
    font-size: 25px;
    text-align: center;
    /* padding-right: 200px; */
    max-width: 100%;
  }
  .sec2 h5 {
    /* padding-right: 200px; */
    max-width: 100%;
  }

  .para {
    /* text-align: justify; */
    max-width: 99%;
    /* white-space: pre-wrap; */
    font-size: 15px;
    margin-top: 15px;
    /* padding-right: 180px; */
    max-width: 100%;
    padding: 10px;
    font-size: 18px;
    line-height: 25px;
    margin-top: 2px;
  }
  .sec3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* width: 70%; */
    max-width: 100%;
  }
  .moimpaco {
    font-size: 40px;
    padding: 30px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin-bottom: 20px;
  }
  .impacon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .counter {
    display: flex;
    align-items: center;

    justify-content: center;

    font-size: 25px;
    font-weight: 400;
    line-height: 1.5em;
    width: 35%;
  }
  .descrip {
    width: 330px;

    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }
  .programainco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .prosubco {
    display: grid;
    place-content: center;
    background-image: url("/farm11.png");
    background-size: cover;
    line-height: 25px;
    background-position: center;
    color: white;
    text-align: center;
    height: 400px;
    opacity: 0.8;
    transition: opacity 0.5s;
  }
  .proconco {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.65);
    height: 400px;
    margin: auto; */
  }
  .prosubco:hover {
    opacity: 0.7;
    transition: opacity 0.5s;
  }
  .proconco h3 {
    font-weight: 400;
    text-transform: none;
    line-height: 1.3em;
    letter-spacing: 0px;
    font-size: 25px;
    margin-bottom: 40px;
  }
  .proconco p {
    padding-bottom: 20px;
    font-weight: 400;
    /* letter-spacing: 0px; */
    /* text-align: justify; */
    margin-left: 30px;
    font-size: 18px;
  }
  .button {
    padding: 10px;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    margin-left: 30px;
  }
  .para span {
    display: none;
  }

  .h2 {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 15px;
    /* padding-top: 150px; */
    text-align: center;
    font-family: "Monteserat", "Roboto";

    /* padding: auto;
    text-align: center; */
  }
}
