.container {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgb(230, 229, 229);
  box-shadow: inset;
  position: fixed;
  top: 0;
  z-index: 100;
}
.submenu {
  display: none;
  position: absolute;

  /* other styles */
}
.programs:hover .submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  line-height: 30px;
  width: max-content;
  background-color: whitesmoke;
}
.cosubmenu {
  display: none;
  position: absolute;
}
.programs:hover .cosubmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  line-height: 30px;
  text-align: center;
  width: 100px;
  background-color: whitesmoke;
}
.logo {
  margin-left: 20px;
  height: 50px;
  width: 150px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}
.links {
  color: black;
}
.logout {
  padding: 5px;
  border: none;
  /* background-color: #53c28b; */
  background-color: brown;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
