/* Styles */
.form {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.amountbuttons button {
  background: brown;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.amountbuttons button:hover {
  background: rgb(156, 42, 42);
}

.input input {
  border: 1px solid brown;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.submitbutton {
  background: brown;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
}

.submitbutton:hover {
  background: rgb(201, 34, 34);
}
.span {
  color: brown;
}
.label {
  color: brown;
}
@media (max-width: 600px) {
  .form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .amountbuttons button {
    background: brown;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 5px;
    width: max-content;
  }
  .input input {
    border: 1px solid brown;
    border-radius: 4px;
    padding: 12px;
    font-size: 16px;
  }
  .input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .form h1 {
    text-align: center;
    font-size: 31px;
  }
}
